# Служебные файлы Python
__pycache__/
*.py[cod]
*$py.class

# База данных SQLite (её нельзя коммитить, так как там личные данные и пароли)
db.sqlite3

# Переменные окружения (пароли, секретные ключи)
.env

# Виртуальное окружение
venv/
env/
