{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление металла</title>
</head>
<body>
    <h2>Добавить новый материал на склад</h2>
    <form method="POST">
        {% csrf_token %}
        
        <!-- ВОТ ОНА, МАГИЯ DJANGO: одна строка заменяет весь ручной HTML -->
        {{ form.as_p }} 
        
        <br>
        <button type="submit">Сохранить</button>
        <a href="{% url 'material_list' %}">Отмена</a>
    </form>
</body>
</html>